.img-ser{
    padding-bottom: 30px;
    input{  
        outline: none;
        outline: none;
        transform: translate(-65px, 115px);
        width: 320px;
        padding: 5px 20px;
        border-radius: 15px;
        border: none;
        }
        img{
            width: 200px;
            height: 200px;
            transform: translate(165px);
            margin-bottom: 55px;
            margin-top: 30px;
        }
}